---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic NmpqaHFYQ0xLbFdQZnR2c0hlM0dZWTNnWjo0eUJlQXFBelpOQ0pNaGZXWmhQNjMycWpWT1J6RU9FSHBqdndrWG80OFhhdkdUaGlRNw==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 01 Nov 2020 01:04:52 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - b9eb490beaf8d3e7bd0463a1bbc67d55
      X-Response-Time:
      - '12'
      X-Transaction:
      - 007fedff00667844
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAF29JAEAAAAAxjW2sE7v0JAC5vmF%2BDotzj%2BUenc%3DnQFQsSaSPehHFA1o2y1qBCd2nTxwPDrZSRnCFzd3jCu7yAKhMl"}'
  recorded_at: Sun, 01 Nov 2020 01:04:52 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Teste+de+mensagem
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAF29JAEAAAAAxjW2sE7v0JAC5vmF%2BDotzj%2BUenc%3DnQFQsSaSPehHFA1o2y1qBCd2nTxwPDrZSRnCFzd3jCu7yAKhMl
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read
      X-Connection-Hash:
      - fdb22bc1e35d78af3d712a581b2ce81b
      X-Response-Time:
      - '9'
      X-Transaction:
      - 00d9db4200d18fe9
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":220,"message":"Your credentials do not allow access
        to this resource."}]}'
  recorded_at: Sun, 01 Nov 2020 01:04:53 GMT
recorded_with: VCR 6.0.0
