---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Teste+de+mensagem
    headers:
      Authorization:
      - OAuth oauth_consumer_key="6jjhqXCLKlWPftvsHe3GYY3gZ", oauth_nonce="2e7a95c15f901a9b79737b88eb742e8a",
        oauth_signature="PGN%2FUCL%2FS6HDfXHIxixou9mxioo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1604192101", oauth_token="1321116320398790657-DaAXH3KETEDSx0ByrpokrWUrmfyxQP",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 01 Nov 2020 00:55:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 3425ce139e3d000bf0fd054a91ec67c2
      X-Response-Time:
      - '56'
      X-Transaction:
      - 00d1826800717b20
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Sun Nov 01 00:55:01 +0000 2020","id":1322703659814293507,"id_str":"1322703659814293507","text":"Teste
        de mensagem","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1321116320398790657,"id_str":"1321116320398790657","name":"Test
        Dev Vicky","screen_name":"TestDevVicky1","location":"","description":"A dev
        that uses this account to test her applications integrations","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Tue
        Oct 27 15:47:52 +0000 2020","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"pt"}'
  recorded_at: Sun, 01 Nov 2020 00:55:01 GMT
recorded_with: VCR 6.0.0
