---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?APPID=bbf0a2ec13defdb11f6efb1c3a6226c9&cnt=6&id=3467865&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":6,"list":[{"dt":1604113200,"main":{"temp":16.8,"feels_like":13.11,"temp_min":16.6,"temp_max":16.8,"pressure":1018,"sea_level":1018,"grnd_level":937,"humidity":81,"temp_kf":0.2},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"clouds":{"all":86},"wind":{"speed":6.84,"deg":132},"visibility":10000,"pop":0.02,"sys":{"pod":"n"},"dt_txt":"2020-10-31
        03:00:00"},{"dt":1604124000,"main":{"temp":16.62,"feels_like":13.53,"temp_min":16.51,"temp_max":16.62,"pressure":1016,"sea_level":1016,"grnd_level":936,"humidity":82,"temp_kf":0.11},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"clouds":{"all":81},"wind":{"speed":6,"deg":134},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2020-10-31
        06:00:00"},{"dt":1604134800,"main":{"temp":16.21,"feels_like":13.38,"temp_min":16.16,[...]
